/*Compose New Tweet Form*/
#new-tweet {
  background-color: #eee;
  margin: 0 2em;
  border-style: solid;
  border-color: #ddd;
  border-radius: 5px;
}

/*"Compose Tweet"*/
#new-tweet h2 {
  border-bottom-style: solid;
  margin: 10px;
}

/*Error Message*/
#error-message {
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  background-color: crimson;
  color: white;
  box-shadow: 2px 2px 3px black;
  opacity: 0.8;
  height: 1em;
  font-weight: 300;
  font-size: medium;
}

/*Tweet Input Area*/
#new-tweet textarea {
  /*multiple width declarations to work on different browsers*/
  width: -webkit-fill-available;
  width: -moz-available;
  width; fill-available;
  margin: 0 10px;
  margin-top: 5px;
  padding: 5px;
}

/*Footer*/
#new-tweet footer {
  position: relative;
  bottom: 10px;
  left: 10px;
  margin-top: 10px;
}


/*Character Counter*/
#new-tweet .counter {
  font-size: small;
  font-style: italic;
  position: absolute;
  right: 20px;
  line-height: 25px;
}

#new-tweet .counter.negative {
  color: red;
}
